body{
    display: grid;
    grid-template-columns: 1fr 20%  15% ;
    grid-template-rows:60px 1fr 60px;
    grid-template-areas: "header header header" "article nav ads" "footer footer footer";
    grid-gap: 10px;
    height: 100vh;
    margin: 0;
}

header, footer, article, nav, div{
    padding: 20px;
    background: gold;
}
#pageHeader{
    grid-area: header;
}

#mainArticle{
    grid-area: article;
}

#mainNav{
    grid-area: nav;
}

#siteAds{
    grid-area: ads;
}

#pageFooter{
    grid-area: footer;
}

