#grid{
    display: grid;
    grid-template-columns: 1fr 20%  15% ;
    grid-template-rows:60px 1fr 60px;
    grid-template-areas: "header header header" "article nav ads" "footer footer footer";
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 100vh;
    margin: 0;
}

.pageHeader, .mainArticle, .mainNav, .siteAds, .pageFooter{
    padding: 20px;
    background: gold;
}
.pageHeader{
    grid-area: header;
}

.mainArticle{
    grid-area: article;
}

.mainNav{
    grid-area: nav;
}

.siteAds{
    grid-area: ads;
}

.pageFooter{
    grid-area: footer;
}

/* media query */

@media all and (max-width: 575px){
    #grid{
        grid-template-areas: "header"
                             "article"
                             "ads"
                             "nav"
                             "footer";
        grid-template-rows: 80px 1fr 70px 1fr 70px;
        grid-template-columns: 1fr;
    }
}

/* scrip testing grid disini testing */

#grid1{
    display: grid;
    grid-template-columns: 1fr 20%  15% ;
    grid-template-rows:60px 1fr 60px;
    grid-template-areas: "article  header header" "article nav ads" "article  footer footer";
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 100vh;
    margin: 0;
}

.pageHeader1, .mainArticle1, .mainNav1, .siteAds1, .pageFooter1{
    padding: 20px;
    background: green;
}
.pageHeader1{
    grid-area: header;
}

.mainArticle1{
    grid-area: article;
}

.mainNav1{
    grid-area: nav;
}

.siteAds1{
    grid-area: ads;
}

.pageFooter1{
    grid-area: footer;
}

@media all and (max-width: 575px){
    #grid1{
        grid-template-areas: "header"
                             "article"
                             "ads"
                             "nav"
                             "footer";
        grid-template-rows: 80px 1fr 70px 1fr 70px;
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 584px) and (max-width: 1024px){
    #grid1{
        grid-template-areas: "header header header"
                             "article nav ads"
                             "nav nav ads"
                             "nav nav ads"
                             "footer footer footer";
        grid-template-rows: 80px auto 70px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.isi-article{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-rows: auto; */
    /* >>flex fungsi<< */
    /* grid-template-columns: 200px; 
    grid-template-rows: 100px;
    grid-auto-flow: column;
    grid-auto-columns: 100px; */
    /*>>end flex fungsi<<*/
    /* grid-template-columns:50px repeat(3, 30px 20px) 50px; */
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows:auto auto auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    margin: 0px;
}


/* .konten-isi{
    grid-area: konten-isi;
}

.konten-isi-2{
    grid-area: konten-isi-2;
} */

.konten-isi{
    border: 1px solid red;
    height: 200px;    
}

/* .konten-isi-1{
    /* grid-column: 1 / span 2; */
    /* border: 1px solid red;
    height: 200px;  
} */

.konten-isi-2{
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
    border: 1px solid red;
}

@media all and (max-width: 575px){
    .isi-article{
        /* grid-template-areas: "konten-isi "; */
        grid-template-rows: auto ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}

@media all and (max-width: 405px){
    .isi-article{
        /* grid-template-areas: "konten-isi "; */
        grid-template-rows: auto ;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}

@media all and (min-width: 584px) and (max-width: 1024px){
    .isi-article{
        /* grid-template-areas: "konten-isi "; */
        grid-template-rows: auto ;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
    }
}